openapi: 3.0.3

info:
  title: My API
  version: 1.0.0

servers:
  - url: https://registry.serviceproviders.eudiw.dev
  - url: https://dev.registry.serviceproviders.eudiw.dev
  - url: http://localhost:5000

paths:
  /authentication:
    get:
      tags:
        - Authentication

      summary: Start Authentication Flow

      description: |
        Starts a new OpenID4VP authentication flow.

        The endpoint returns:

        - A **QR_code_url** that must be converted into a QR Code and presented to
          the end user.
        - A **presentation_id** that uniquely identifies the authentication session.

        The client application shall:

        1. Call this endpoint.
        2. Generate and display a QR Code using the returned **QR_code_url**.
        3. Ask the user to scan the QR Code using an EUDI Wallet.
        4. Complete the authentication by presenting their PID from the Wallet.
        5. Store the returned **presentation_id**, as it is required by the
          subsequent authentication endpoints (**/pid_authorization** and
          **/getpidoid4vp**) to retrieve the authentication result.

        ### Response

        | Field | Description |
        |-------|-------------|
        | `QR_code_url` | OpenID4VP URI used to generate the QR Code that the Wallet scans. |
        | `presentation_id` | Identifier of the authentication session. It must be stored by the client and used in subsequent requests. |

      responses:
        "200":
          description: Authentication initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  QR_code_url:
                    type: string
                    description: URL to generate/display the QR code for authentication.
                    example: "https://example.com/qr/123456"

                  presentation_id:
                    type: string
                    description: Transaction identifier for the authentication session.
                    example: "550e8400-e29b-41d4-a716-446655440000"
  /pid_authorization:
    get:
      tags:
        - Authentication

      summary: PID Authorization

      description: |
        Checks whether the user has successfully completed the authentication
        process in their EUDI Wallet.

        The client shall call this endpoint after the user has scanned the QR Code
        and successfully authenticated using their PID in the Wallet.

        The request requires the `presentation_id` obtained from the
        `/authentication` endpoint.

        When the response indicates `Success`, the authentication flow has been
        completed successfully and the client may proceed to the
        `/getpidoid4vp` endpoint to retrieve the authenticated user's
        `hash_pid`.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `presentation_id` | Authentication session identifier returned by the `/authentication` endpoint. |

      parameters:
        - in: query
          name: presentation_id
          required: true
          description: Transaction identifier received from the authentication step.
          schema:
            type: string
          example: "550e8400-e29b-41d4-a716-446655440000"

      responses:
        "200":
          description: Authorization successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Success

        "500":
          description: Error during authorization request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "500"

  /getpidoid4vp:
    post:
      tags:
        - Authentication

      summary: Get PID (OID4VP)

      description: |
        Retrieves the authenticated user's `hash_pid` after a successful
        OpenID4VP authentication.

        This endpoint shall be called only after the
        `/pid_authorization` endpoint has returned a successful response.

        The request requires the `presentation_id` obtained from the
        `/authentication` endpoint.

        The returned `hash_pid` identifies the authenticated user and shall be
        used as the authentication token for all protected endpoints exposed by
        this API.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `presentation_id` | Authentication session identifier returned by the `/authentication` endpoint. |

        ### Response

        | Field | Description |
        |-------|-------------|
        | `hash_pid` | Authenticated user session identifier to be used in subsequent API requests. |

      parameters:
        - in: query
          name: presentation_id
          required: true
          description: Transaction identifier received from the authentication step.
          schema:
            type: string
          example: "550e8400-e29b-41d4-a716-446655440000"

      responses:
        "200":
          description: PID retrieved successfully
          content:
            application/json:
              schema:
                type: string
                example: "abc123hashpid"

        "400":
          description: Missing presentation_id
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Missing presentation_id

  /law/create:
    post:
      summary: Create Law
      description: |
        Creates one or more Law objects.

        The `Law` object follows the Law definition described in the TS5
        specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `law` | Collection of Law objects. |

        ### Law attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `legislativeIdentifier` | string | Unique legislative identifier of the Law. |
        | `legalBasis` | array<string> | Legal basis associated with the Law. |
      tags:
        - Law

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - law
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                law:
                  type: array
                  items:
                    type: object
                    required:
                      - legislativeIdentifier
                    properties:
                      legislativeIdentifier:
                        type: string
                        example: "GDPR-ART-6"

                      legalBasis:
                        type: array
                        items:
                          type: string
                        example:
                          - consent
                          - contract

      responses:
        "200":
          description: Law created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Law created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example:
                      - 1
                      - 2
                      - 3

        "400":
          description: Invalid input or missing fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Missing required fields

        "401":
          description: Invalid hash_pid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid hash_pid
  /law/list:
    post:
      summary: List Laws
      description: |
        Retrieves all Law objects associated with the authenticated user.

        The returned Law objects follow the Law definition described in the
        TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |

      tags:
        - Law

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Laws retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Law retrieved successfully
                  law:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        legislativeIdentifier:
                          type: string
                          example: "GDPR-ART-6"
                        legalBasis:
                          type: array
                          items:
                            type: string
                          example:
                            - consent
                            - contract

        "400":
          description: Invalid input or missing fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Missing required fields

        "401":
          description: Invalid hash_pid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid hash_pid

  /legal_person/create:
    post:
      summary: Create Legal Person
      description: |
        Creates one or more Legal Person objects.

        The `legalPerson` object follows the **Legal Person** definition specified in
        the EUDI Wallet Relying Party Registration Technical Specification (TS5).

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier returned by the authentication flow. |
        | `legalPerson` | Collection of Legal Person objects. |

        ### Legal Person attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `legalName` | array<string> | Legal name(s) of the Legal Person. |
        | `law` | array<integer> | References to Law objects previously registered by the authenticated user. |
      tags:
        - Legal Person

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - legalPerson
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                legalPerson:
                  type: array
                  items:
                    type: object
                    required:
                      - legalName
                    properties:
                      legalName:
                        type: array
                        items:
                          type: string
                        example: ["Company A", "Company B"]

                      law:
                        type: array
                        items:
                          type: integer
                        example: [1, 2]

      responses:
        "200":
          description: Legal Person created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Legal Person created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Law or Legal Person does not belong to user


  /legal_person/list:
    post:
      summary: List Legal Persons
      description: |
        Retrieves all Legal Person objects associated with the authenticated user.

        The returned Legal Person objects follow the Legal Person definition
        described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |

      tags:
        - Legal Person

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Legal Persons retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Legal Persons retrieved successfully
                  legal_person:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        legalName:
                          type: array
                          items:
                            type: string
                          example: ["Company A"]
                        law:
                          type: array
                          items:
                            type: integer
                          example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

  /legal_person/update_law:
    post:
      summary: Add Laws to Legal Person

      description: |
        Associates one or more existing Law objects with a Legal Person.

        Both the Legal Person and the referenced Law objects must belong to the
        authenticated user.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `legal_person_id` | Identifier of the Legal Person to update. |
        | `law_ids` | List of Law identifiers to associate with the Legal Person. |

        ### Parameter details

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `legal_person_id` | integer | Identifier of the Legal Person. The Legal Person must belong to the authenticated user. |
        | `law_ids` | array<integer> | List of Law identifiers to associate. Every Law must belong to the authenticated user and must already exist. |
      tags:
        - Legal Person
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - legal_person_id
              - law_ids
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              legal_person_id:
                type: integer
                example: 1
                description: Identifier of the Legal Person to update.

              law_ids:
                type: array
                description: List of Law identifiers to associate with the Legal Person.
                items:
                  type: integer
                example: [1, 2]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - legal_person_id
                - law_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                legal_person_id:
                  type: integer
                  example: 1

                law_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]

      responses:
        "200":
          description: Legal person law associations updated successfully

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Resource does not belong to user

  /legal_person/remove_law:
    post:
      summary: Remove Laws from Legal Person

      description: |
        Removes one or more Law associations from a Legal Person.

        A Legal Person must always remain associated with at least one Law.

        Both the Legal Person and the referenced Law objects must belong to the
        authenticated user.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `legal_person_id` | Identifier of the Legal Person to update. |
        | `law_ids` | List of Law identifiers to remove from the Legal Person. |

        ### Parameter details

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `legal_person_id` | integer | Identifier of the Legal Person. |
        | `law_ids` | array<integer> | List of Law identifiers to remove. The operation fails if it would leave the Legal Person without any associated Law. |
      tags:
        - Legal Person
      
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - legal_person_id
              - law_ids
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              legal_person_id:
                type: integer
                example: 1
                description: Identifier of the Legal Person to update.

              law_ids:
                type: array
                description: List of Law identifiers to remove from the Legal Person.
                items:
                  type: integer
                example: [1]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - legal_person_id
                - law_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                legal_person_id:
                  type: integer
                  example: 1

                law_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]

      responses:
        "200":
          description: Legal person law associations removed successfully

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Resource does not belong to user

  /natural_person/create:
    post:
      summary: Create Natural Person
      description: |
        Creates one or more Natural Persons.

        The `naturalPerson` object follows the Natural Person definition described in
        the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `naturalPerson` | Collection of Natural Person objects. |

        ### NaturalPerson attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `familyName` | string | Family name (surname) of the Natural Person. |
        | `givenName` | string | Given name(s) of the Natural Person. |
      tags:
        - Natural Person
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - naturalPerson
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              naturalPerson:
                type: array
                description: Collection of Natural Person objects as defined in the TS5 specification.
                items:
                  type: object
                  required:
                    - familyName
                    - givenName
                  properties:
                    familyName:
                      type: string
                      description: Family name of the Natural Person as defined in the TS5 specification.
                      example: "Doe"

                    givenName:
                      type: string
                      description: Given name(s) of the Natural Person as defined in the TS5 specification.
                      example: "John"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - naturalPerson
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                naturalPerson:
                  type: array
                  items:
                    type: object
                    required:
                      - familyName
                      - givenName
                    properties:
                      familyName:
                        type: string
                        example: "Silva"

                      givenName:
                        type: string
                        example: "João"

                      dateOfBirth:
                        type: string
                        format: date
                        example: "1990-05-20"

                      placeOfBirth:
                        type: string
                        example: "Porto"

      responses:
        "200":
          description: Natural Person created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Natural Person created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

  /natural_person/list:
    post:
      summary: List Natural Persons
      description: |
        Retrieves all Natural Persons belonging to the authenticated user.

        The returned objects follow the Natural Person definition described in
        the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
      tags:
        - Natural Person
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Natural Persons retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Natural Persons retrieved successfully
                  natural_person:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        familyName:
                          type: string
                          example: "Silva"
                        givenName:
                          type: string
                          example: "João"
                        dateOfBirth:
                          type: string
                          example: "1990-05-20"
                        placeOfBirth:
                          type: string
                          example: "Porto"

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid
  /identifier/create:
    post:
      summary: Create Identifier
      description: |
        Creates one or more Identifier objects.

        The `Identifier` object follows the Identifier definition described in
        the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `identifier` | Collection of Identifier objects. |

        ### Identifier attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `type` | string | Identifier type as defined in the TS5 specification. |
        | `identifier` | string | Identifier value. |

      tags:
        - Identifier

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - identifier
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                identifier:
                  type: array
                  description: |
                    Creates one or more identifiers associated with the authenticated user.

                    The identifier object follows the TS5 specification:
                    - identifier: identifier value.
                    - type: identifier type URI defined by TS5.
                  items:
                    type: object
                    required:
                      - identifier
                      - type
                    properties:
                      identifier:
                        type: string
                        description: Identifier value as defined in TS5.
                        example: "PT123456789"

                      type:
                        type: string
                        description: Identifier type URI defined in TS5.
                        enum:
                          - "http://data.europa.eu/eudi/id/EORI-No"
                          - "http://data.europa.eu/eudi/id/LEI"
                          - "http://data.europa.eu/eudi/id/EUID"
                          - "http://data.europa.eu/eudi/id/VATIN"
                          - "http://data.europa.eu/eudi/id/TIN"
                          - "http://data.europa.eu/eudi/id/Excise"

      responses:
        "200":
          description: Identifier created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Identifier created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Invalid identifier type

  /identifier/list:
    post:
      summary: List Identifiers
      description: |
        Retrieves all Identifier objects associated with the authenticated user.

        The returned Identifier objects follow the Identifier definition
        described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |

      tags:
        - Identifier

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Identifiers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Identifiers retrieved successfully
                  identifier:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        identifier:
                          type: string
                          example: "PT123456789"
                        type:
                          type: string
                          example: "VAT"

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

  /legal_entity/create:
    post:
      summary: Create Legal Entity

      description: |
        Creates one or more Legal Entity objects.

        The `LegalEntity` object follows the Legal Entity definition described in
        the TS5 specification.

        A Legal Entity represents the organization that owns or operates Wallet
        Relying Parties and Providers.

        The request must reference previously created Identifier objects and
        either a Natural Person or a Legal Person, depending on the ownership
        model.

        Country values shall use ISO 3166-1 alpha-2 codes and must correspond to
        an EU Member State.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `legal_entity` | Collection of Legal Entity objects. |

        ### LegalEntity attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `legal_person_id` | integer | Identifier of the associated Legal Person. |
        | `natural_person_id` | integer | Identifier of the associated Natural Person. |
        | `identifiers` | array<integer> | References to previously created Identifier objects. |
        | `country` | string | ISO 3166-1 alpha-2 country code of an EU Member State. |
        | `postalAddress` | array<object> | Postal address information. |
        | `email` | array<string> | Contact email address(es). |
        | `phone` | array<string> | Contact phone number(s). |
        | `infoURI` | array<string> | URI(s) containing additional information about the Legal Entity. |

      tags:
        - Legal Entity

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - legal_entity
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                legal_entity:
                  type: array
                  items:
                    type: object
                    required:
                      - identifiers
                      - country
                    properties:
                      legal_person_id:
                        type: integer
                        example: 1

                      identifiers:
                        type: array
                        items:
                          type: integer
                        
                        description: List of Identifier IDs previously created.
                        example: [1, 2]

                      country:
                        type: string
                        description: ISO 3166-1 alpha-2 country code of the Legal Entity.
                        example: "PT"

                      postalAddress:
                        type: array
                        items:
                          type: string
                        description: Postal addresses associated with the Legal Entity.
                        example: ["Rua A, Porto"]

                      email:
                        type: array
                        items:
                          type: string
                        description: Contact email addresses.
                        example: ["test@email.com"]

                      phone:
                        type: array
                        items:
                          type: string
                        description: Contact telephone numbers.
                        example: ["+351912345678"]

                      infoURI:
                        type: array
                        items:
                          type: string
                        description: Public information URLs associated with the Legal Entity.
                        example: ["https://example.com"]

      responses:
        "200":
          description: Legal Entity created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Legal Entity created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Resource does not belong to user


  /legal_entity/list:
    post:
      summary: List Legal Entities

      description: |
        Retrieves all Legal Entity objects associated with the authenticated user.

        The returned Legal Entity objects follow the Legal Entity definition
        described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |

      tags:
        - Legal Entity

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Legal Entities retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Legal Entity retrieved successfully
                  legal_entity:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        country:
                          type: string
                          example: "PT"
                        identifiers:
                          type: array
                          items:
                            type: integer
                          example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid


  /legal_entity/update_identifier:
    post:
      summary: Add Identifiers to Legal Entity
      description: |
        Associates one or more existing Identifier objects with an existing
        Legal Entity.

        The `Identifier` object follows the Identifier definition described in
        the TS5 specification.

        All referenced resources must belong to the authenticated user.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `legal_entity_id` | Identifier of the Legal Entity to update. |
        | `identifier_ids` | List of Identifier IDs to associate with the Legal Entity. |

      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - legal_entity_id
              - identifier_ids
            properties:
              hash_pid:
                type: string
                description: Authenticated user session identifier.
                example: "abc123hash"

              legal_entity_id:
                type: integer
                description: Identifier of the Legal Entity to update.
                example: 1

              identifier_ids:
                type: array
                description: List of existing Identifier IDs to associate with the Legal Entity.
                items:
                  type: integer
                example: [1, 2]
      tags:
        - Legal Entity

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - legal_entity_id
                - identifier_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                legal_entity_id:
                  type: integer
                  example: 1

                identifier_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]

      responses:
        "200":
          description: Identifiers associated successfully

        "400":
          description: Invalid input

        "401":
          description: Invalid hash_pid

        "403":
          description: Resource does not belong to user

  /legal_entity/remove_identifier:
    post:
      summary: Remove Identifiers from Legal Entity

      description: |
        Removes one or more existing Identifier associations from a Legal Entity.

        The `Identifier` object follows the Identifier definition described in
        the TS5 specification.

        At least one Identifier must remain associated with every Legal Entity.

        All referenced resources must belong to the authenticated user.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `legal_entity_id` | Identifier of the Legal Entity to update. |
        | `identifier_ids` | List of Identifier IDs to remove from the Legal Entity. |

      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - legal_entity_id
              - identifier_ids
            properties:
              hash_pid:
                type: string
                description: Authenticated user session identifier.
                example: "abc123hash"

              legal_entity_id:
                type: integer
                description: Identifier of the Legal Entity to update.
                example: 1

              identifier_ids:
                type: array
                description: List of Identifier IDs to remove from the Legal Entity.
                items:
                  type: integer
                example: [1, 2]
      tags:
        - Legal Entity

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - legal_entity_id
                - identifier_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                legal_entity_id:
                  type: integer
                  example: 1

                identifier_ids:
                  type: array
                  items:
                    type: integer
                  example: [1]

      responses:
        "200":
          description: Identifiers removed successfully

        "400":
          description: Invalid request (e.g. trying to remove all identifiers)

        "401":
          description: Invalid hash_pid

        "403":
          description: Resource does not belong to user

  /policy/create:
    post:
      summary: Create Policy
      description: |
        Creates one or more Policy objects.

        The `policy` object follows the Policy definition described in the
        TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `policy` | Collection of Policy objects. |

        ### Policy attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `policyURI` | string | URI identifying the policy. |
        | `type` | string | Policy type defined by TS5. |
        | `intention` | string | Intended purpose of the policy (e.g. `wrp` or `intended_use`). |
      tags:
        - Policy

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - policy
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                policy:
                  type: array
                  items:
                    type: object
                    required:
                      - policyURI
                      - type
                      - intention
                    properties:
                      policyURI:
                        type: string
                        example: "https://example.com/privacy-policy"

                      intention:
                        type: string
                        enum:
                          - wrp
                          - intended_use
                        example: "wrp"
                        description: Defines the purpose of the policy

                      type:
                        type: string
                        enum:
                          - "http://data.europa.eu/eudi/policy/trust-service-practice-statement"
                          - "http://data.europa.eu/eudi/policy/terms-and-conditions"
                          - "http://data.europa.eu/eudi/policy/privacy-statement"
                          - "http://data.europa.eu/eudi/policy/privacy-policy"
                          - "http://data.europa.eu/eudi/policy/registration-policy"
                        description: Type depends on intention (wrp or intended_use)

      responses:
        "200":
          description: Policy created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Policy created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Invalid policy type or intention

  /policy/list:
    post:
      summary: List Policies
      description: |
        Returns all Policy objects belonging to the authenticated user.

        The returned objects follow the Policy definition described in the
        TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
  
      tags:
        - Policy

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Policies retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Policies retrieved successfully
                  policy:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        policyURI:
                          type: string
                          example: "https://example.com/privacy-policy"
                        type:
                          type: string
                          example: "PRIVACY_POLICY"
                        intention:
                          type: string
                          example: "wrp"

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid


  /provider/create:
    post:
      summary: Create Provider
      description: |
        Creates one or more Providers.

        The Provider object follows the Provider definition described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `provider` | Collection of Provider objects. |

        ### Provider attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `legalEntityId` | integer | Identifier of the Legal Entity associated with the Provider. |
        | `providerType` | string | Type of Provider defined by TS5. |
        | `policy_id` | array<integer> | References to Policy objects previously registered. Only policies with intention `wrp` are accepted. |
        | `x5c` | array<string> | Optional X.509 certificate chain associated with the Provider. |
      tags:
        - Provider
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - provider
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              provider:
                type: array
                description: Collection of Provider objects as defined in the TS5 specification.
                items:
                  type: object
                  required:
                    - legalEntityId
                    - providerType
                    - policy_id
                  properties:
                    legalEntityId:
                      type: integer
                      description: Identifier of the Legal Entity associated with the Provider. The Legal Entity must belong to the authenticated user.
                      example: 1

                    providerType:
                      type: string
                      description: Provider type defined by the TS5 specification.
                      example: "WALLET_PROVIDER"

                    policy_id:
                      type: array
                      description: List of Policy IDs associated with the Provider. All policies must belong to the authenticated user and have intention `wrp`.
                      items:
                        type: integer
                      example: [1, 2]

                    x5c:
                      type: array
                      description: Optional X.509 certificate chain encoded as Base64.
                      items:
                        type: string
                      example:
                        - "MIIC...base64cert1"
                        - "MIIC...base64cert2"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - provider
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                provider:
                  type: array
                  items:
                    type: object
                    required:
                      - legalEntityId
                      - providerType
                      - policy_id
                    properties:
                      legalEntityId:
                        type: integer
                        example: 1

                      providerType:
                        type: string
                        example: "WALLET_PROVIDER"

                      policy_id:
                        type: array
                        description: Must be policies with intention 'wrp'
                        items:
                          type: integer
                        example: [1, 2]

                      x5c:
                        type: array
                        description: Certificate chain (optional)
                        items:
                          type: string
                        example:
                          - "MIIC...base64cert1"
                          - "MIIC...base64cert2"

      responses:
        "200":
          description: Provider created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Provider created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Resource does not belong to user or invalid policy type


  /provider/list:
    post:
      summary: List Providers
      description: |
        Retrieves all Providers associated with the authenticated user.

        Each returned Provider follows the Provider definition described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
      tags:
        - Provider
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Providers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Providers retrieved successfully
                  provider:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        legalEntityId:
                          type: integer
                          example: 1
                        providerType:
                          type: string
                          example: "WALLET_PROVIDER"
                        policies:
                          type: array
                          items:
                            type: integer
                          example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid


  /provider/update_policy:
    post:
      summary: Add Policies to Provider

      description: |
        Associates one or more Policies with an existing Provider.

        Only Policies with the `wrp` intention are accepted.

        The Provider and all referenced Policies must belong to the authenticated user.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `provider_id` | Identifier of the Provider to update. |
        | `policy_ids` | List of Policy identifiers to associate with the Provider. |
      tags:
        - Provider
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - provider_id
              - policy_ids
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              provider_id:
                type: integer
                example: 1
                description: Identifier of the Provider to update. The Provider must belong to the authenticated user.

              policy_ids:
                type: array
                description: List of Policy IDs to associate with the Provider. Each Policy must belong to the authenticated user and have intention `wrp`.
                items:
                  type: integer
                example: [1, 2]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - provider_id
                - policy_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                provider_id:
                  type: integer
                  example: 1

                policy_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]

      responses:
        "200":
          description: Policies associated successfully

        "400":
          description: Invalid input

        "401":
          description: Invalid hash_pid

        "403":
          description: Policy does not belong to user or invalid type


  /provider/remove_policy:
    post:
      summary: Remove Policies from Provider

      description: |
        Removes one or more Policy associations from an existing Provider.

        A Provider must always remain associated with at least one Policy.

        The Provider and all referenced Policies must belong to the authenticated user.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `provider_id` | Identifier of the Provider to update. |
        | `policy_ids` | List of Policy identifiers to remove from the Provider. |
      tags:
        - Provider
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - provider_id
              - policy_ids
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              provider_id:
                type: integer
                example: 1
                description: Identifier of the Provider to update. The Provider must belong to the authenticated user.

              policy_ids:
                type: array
                description: List of Policy IDs to remove from the Provider. Each Policy must belong to the authenticated user.
                items:
                  type: integer
                example: [1]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - provider_id
                - policy_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                provider_id:
                  type: integer
                  example: 1

                policy_ids:
                  type: array
                  items:
                    type: integer
                  example: [1]

      responses:
        "200":
          description: Policies removed successfully

        "400":
          description: Invalid request (e.g. removing all policies)

        "401":
          description: Invalid hash_pid

        "403":
          description: Resource does not belong to user


  /credential/create:
    post:
      summary: Create Credential
      description: |
        Creates one or more Credential objects.

        The `Credential` object follows the Credential definition described in
        the TS5 specification.

        All parameters accepted by this endpoint correspond to the fields defined
        in the Credential table of the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `credentials` | Collection of Credential objects. |

        ### Credential attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `format` | string | Credential format as defined in the TS5 specification. |
        | `meta` | string | Credential metadata. |
        | `claims` | array<object> | Collection of Claim objects associated with the Credential. |
        | `claims.path` | array<object> | JSON path identifying the claim within the Credential. |

      tags:
        - Credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - credentials
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                credentials:
                  type: array
                  description: Collection of Credential objects as defined in the TS5 specification.
                  items:
                    type: object
                    required:
                      - format
                      - meta
                      - claims
                    properties:
                      format:
                        type: string
                        description: Credential format as defined in the TS5 Credential specification.
                        example: "jwt_vc"

                      meta:
                        type: object
                        description: Credential metadata according to the TS5 Credential definition.
                        example:
                          vct_values:
                            - "urn:eudi:pid:1"

                      claims:
                        type: array
                        description: Collection of Claim objects associated with the Credential.
                        items:
                          type: object
                          required:
                            - path
                          properties:
                            path:
                              type: array
                              description: JSON path(s) identifying the claim within the Credential.
                              items:
                                type: string
                              example:
                                - "$.credentialSubject.family_name"
                                - "$.credentialSubject.given_name"

      responses:
        "200":
          description: Credential created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Credential created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid


  /credential/list:
    post:
      summary: List Credentials
      description: |
        Retrieves all Credential objects associated with the authenticated user.

        The returned Credential objects follow the Credential definition
        described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |

      tags:
        - Credential

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Credentials retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Credentials retrieved successfully
                  credential:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        format:
                          type: string
                          example: "jwt_vc"
                        meta:
                          type: object
                          example:
                            vct_values:
                              - "urn:eudi:pid:1"
                        claims:
                          type: array
                          items:
                            type: object
                            properties:
                              path:
                                type: array
                                items: {}
                                example:
                                  - "credentialSubject"
                                  - "family_name"

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid


  /intended_use/create:
    post:
      summary: Create Intended Use
      description: |
        Creates one or more Intended Use objects.

        The `IntendedUse` object follows the Intended Use definition described in
        the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `intended_uses` | Collection of Intended Use objects. |

        ### IntendedUse attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `intendedUseIdentifier` | string | Unique identifier of the Intended Use. |
        | `createdAt` | string (date-time) | Creation timestamp of the Intended Use. |
        | `revokedAt` | string (date-time) | Revocation timestamp of the Intended Use, if applicable. |
        | `purpose` | array<object> | Multilingual description of the Intended Use. |
        | `purpose.lang` | string | EU language code. |
        | `purpose.content` | string | Description of the Intended Use in the specified language. |
        | `privacyPolicy_id` | array<integer> | References to previously created Privacy Policy objects. |
        | `credential_ids` | array<integer> | References to previously created Credential objects defined according to the TS5 specification. |

      tags:
        - Intended Use

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - intended_uses
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                intended_uses:
                  type: array
                  items:
                    type: object
                    required:
                      - intendedUseIdentifier
                      - createdAt
                      - revokedAt
                      - purpose
                      - privacyPolicy_id
                      - credential_ids
                    properties:
                      intendedUseIdentifier:
                        type: string
                        example: "USE-001"

                      createdAt:
                        type: string
                        format: date
                        example: "2026-01-01"

                      revokedAt:
                        type: string
                        format: date
                        example: "2027-01-01"

                      purpose:
                        type: array
                        items:
                          type: object
                          required:
                            - lang
                            - content
                          properties:
                            lang:
                              type: string
                              description: Must be a valid EU language code
                              example: "en"
                            content:
                              type: string
                              example: "Identity verification"

                      privacyPolicy_id:
                        type: array
                        description: Must be valid intended_use policy types
                        items:
                          type: integer
                        example: [1, 2]

                      credential_ids:
                        type: array
                        items:
                          type: integer
                        example: [1, 2]

      responses:
        "200":
          description: Intended Use created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Intended Use created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Resource does not belong to user or invalid type

  /intended_use/list:
    post:
      summary: List Intended Uses
      description: |
        Retrieves all Intended Use objects associated with the authenticated user.

        The returned Intended Use objects follow the Intended Use definition
        described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |

      tags:
        - Intended Use

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Intended Uses retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Intended Use retrieved successfully
                  intended_use:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        intendedUseIdentifier:
                          type: string
                          example: "USE-001"
                        purposes:
                          type: array
                          items:
                            type: object
                            properties:
                              lang:
                                type: string
                                example: "en"
                              content:
                                type: string
                                example: "Identity verification"
                        policies:
                          type: array
                          items:
                            type: integer
                          example: [1, 2]
                        credentials:
                          type: array
                          items:
                            type: integer
                          example: [1, 2]

        "400":
          description: Invalid input

        "401":
          description: Invalid hash_pid


  /intended_use/update_credential:
    post:
      summary: Add Credentials to Intended Use
      description: |
        Associates one or more existing Credential objects with an existing
        Intended Use.

        The `Credential` object follows the Credential definition described in
        the TS5 specification.

        All referenced resources must belong to the authenticated user.

        At least one Credential must remain associated with the Intended Use at
        all times.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `intended_use_id` | Identifier of the Intended Use to update. |
        | `credential_ids` | List of Credential IDs to associate with the Intended Use. |

      tags:
        - Intended Use
      
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - intended_use_id
              - credential_ids
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              intended_use_id:
                type: integer
                example: 1
                description: Identifier of the Intended Use to update.

              credential_ids:
                type: array
                description: |
                  List of Credential identifiers to associate with the Intended Use.
                  Every Credential must belong to the authenticated user.
                items:
                  type: integer
                example: [1,2]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - intended_use_id
                - credential_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                intended_use_id:
                  type: integer
                  example: 1
                credential_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]

      responses:
        "200":
          description: Credentials associated successfully


  /intended_use/update_policy:
    post:
      summary: Add Policies to Intended Use

      description: |
        Associates one or more existing Privacy Policy objects with an existing
        Intended Use.

        The `Policy` object follows the Policy definition described in the TS5
        specification.

        Only Policies with the intention `intended_use` are accepted.

        All referenced resources must belong to the authenticated user.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `intended_use_id` | Identifier of the Intended Use to update. |
        | `policy_ids` | List of Privacy Policy IDs to associate with the Intended Use. |

      tags:
        - Intended Use
      
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - intended_use_id
              - policy_ids
            properties:
              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              intended_use_id:
                type: integer
                example: 1
                description: Identifier of the Intended Use to update.

              policy_ids:
                type: array
                description: |
                  List of Policy identifiers to associate with the Intended Use.
                  Policies must belong to the authenticated user and have intention
                  "intended_use".
                items:
                  type: integer
                example: [1,2]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - intended_use_id
                - policy_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                intended_use_id:
                  type: integer
                policy_ids:
                  type: array
                  items:
                    type: integer

      responses:
        "200":
          description: Policies associated successfully


  /intended_use/remove_credential:
    post:
      summary: Remove Credentials from Intended Use

      description: |
        Removes one or more existing Credential associations from an Intended
        Use.

        The `Credential` object follows the Credential definition described in
        the TS5 specification.

        All referenced resources must belong to the authenticated user.

        An Intended Use must always have at least one associated Credential.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `intended_use_id` | Identifier of the Intended Use to update. |
        | `credential_ids` | List of Credential IDs to remove from the Intended Use. |
      tags:
        - Intended Use
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - intended_use_id
              - credential_ids
            properties:
              hash_pid:
                type: string
                example: "abc123hash"

              intended_use_id:
                type: integer
                example: 1
                description: Identifier of the Intended Use.

              credential_ids:
                type: array
                description: Credential identifiers to remove.
                items:
                  type: integer
                example: [1]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - intended_use_id
                - credential_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                intended_use_id:
                  type: integer
                credential_ids:
                  type: array
                  items:
                    type: integer

      responses:
        "200":
          description: Credentials removed successfully


  /intended_use/remove_policy:
    post:
      summary: Remove Policies from Intended Use

      description: |
        Removes one or more existing Privacy Policy associations from an
        Intended Use.

        The `Policy` object follows the Policy definition described in the TS5
        specification.

        All referenced resources must belong to the authenticated user.

        An Intended Use must always have at least one associated Privacy Policy.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `intended_use_id` | Identifier of the Intended Use to update. |
        | `policy_ids` | List of Privacy Policy IDs to remove from the Intended Use. |
      tags:
        - Intended Use
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - intended_use_id
              - policy_ids
            properties:
              hash_pid:
                type: string
                example: "abc123hash"

              intended_use_id:
                type: integer
                example: 1
                description: Identifier of the Intended Use.

              policy_ids:
                type: array
                description: Policy identifiers to remove.
                items:
                  type: integer
                example: [1]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - intended_use_id
                - policy_ids
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                intended_use_id:
                  type: integer
                policy_ids:
                  type: array
                  items:
                    type: integer

      responses:
        "200":
          description: Policies removed successfully


  /provided_attestation/create:
    post:
      summary: Create Provided Attestation
      description: |
        Creates one or more Provided Attestation objects.

        The `providesAttestations` object follows the Provided Attestation
        definition described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `providesAttestations` | Collection of Provided Attestation objects. |

        ### Provided Attestation attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `format` | string | Credential format supported by the attestation as defined in TS5. |
        | `meta` | string | Metadata associated with the provided attestation as defined in TS5. |
      tags:
        - Provided Attestation

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - providesAttestations
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                providesAttestations:
                  type: array
                  items:
                    type: object
                    required:
                      - format
                      - meta
                    properties:
                      format:
                        type: string
                        example: "jwt"
                        description: Credential format (e.g., jwt, sd-jwt, mdoc)

                      meta:
                        type: object
                        example:
                          vct_values:
                            - "urn:eudi:pid:1"

      responses:
        "200":
          description: Provided Attestation created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Provided Attestation created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1, 2]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid


  /provided_attestation/list:
    post:
      summary: List Provided Attestations
      description: |
        Returns all Provided Attestation objects belonging to the authenticated user.

        The returned objects follow the Provided Attestation definition
        described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |

      tags:
        - Provided Attestation

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Provided attestations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Provided attestation retrieved successfully
                  provided_attestation:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        format:
                          type: string
                          example: "jwt"
                        meta:
                          type: object
                          example:
                            vct_values:
                              - "urn:eudi:pid:1"

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

  /supervisory_authority/create:
    post:
      summary: Create Supervisory Authority
      description: |
        Creates one or more Supervisory Authorities.

        The Supervisory Authority object represents the competent supervisory
        authority associated with a Wallet Relying Party.

        At least one contact method (`email`, `formURI` or `phone`) must be provided.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `supervisoryAuthority` | Collection of Supervisory Authority objects. |

        ### Supervisory Authority attributes

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `name` | string | Name of the Supervisory Authority. |
        | `country` | string | ISO 3166-1 alpha-2 country code. |
        | `email` | array<string> | Contact email addresses. |
        | `formURI` | array<string> | Contact form or website URLs. |
        | `phone` | array<string> | Contact telephone numbers. |

      tags:
        - Supervisory Authority

      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
              - supervisoryAuthority
            properties:

              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

              supervisoryAuthority:
                type: array
                description: Collection of Supervisory Authority objects.
                items:
                  type: object
                  required:
                    - name
                    - country
                  properties:

                    name:
                      type: string
                      example: "CNPD"
                      description: Name of the Supervisory Authority.

                    country:
                      type: string
                      example: "PT"
                      description: ISO 3166-1 alpha-2 country code.

                    email:
                      type: array
                      description: Contact email addresses.
                      items:
                        type: string
                      example:
                        - "geral@cnpd.pt"

                    formURI:
                      type: array
                      description: Contact form or website URLs.
                      items:
                        type: string
                      example:
                        - "https://www.cnpd.pt/contactos"

                    phone:
                      type: array
                      description: Contact telephone numbers.
                      items:
                        type: string
                      example:
                        - "+351213928400"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - supervisoryAuthority
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

                supervisoryAuthority:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - country
                    properties:
                      name:
                        type: string
                        example: "CNPD"

                      country:
                        type: string
                        description: Must be a valid EU country code
                        example: "PT"

                      email:
                        type: array
                        items:
                          type: string
                          format: email
                        example:
                          - "geral@cnpd.pt"

                      formURI:
                        type: array
                        items:
                          type: string
                          format: uri
                        example:
                          - "https://www.cnpd.pt/contactos"

                      phone:
                        type: array
                        items:
                          type: string
                        example:
                          - "+351213928400"

      responses:
        "200":
          description: Supervisory Authority created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Supervisory Authority created successfully
                  data:
                    type: array
                    items:
                      type: integer
                    example: [1]

        "400":
          description: Invalid input or missing fields

        "401":
          description: Invalid hash_pid

        "403":
          description: Validation error (e.g., missing contact methods)

  /supervisory_authority/list:
    post:
      summary: List Supervisory Authorities
      description: |
        Returns all Supervisory Authorities associated with the authenticated user.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |

      tags:
        - Supervisory Authority

      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - hash_pid
            properties:

              hash_pid:
                type: string
                example: "abc123hash"
                description: Authenticated user session identifier.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
                  example: "abc123hash"

      responses:
        "200":
          description: Supervisory Authorities retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Supervisory Authority retrieved successfully
                  supervisory_authority:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: "CNPD"
                        country:
                          type: string
                          example: "PT"
                        email:
                          type: array
                          items:
                            type: string
                          example:
                            - "geral@cnpd.pt"
                        formURI:
                          type: array
                          items:
                            type: string
                          example:
                            - "https://www.cnpd.pt/contactos"
                        phone:
                          type: array
                          items:
                            type: string
                          example:
                            - "+351213928400"

        "400":
          description: Invalid input

        "401":
          description: Invalid hash_pid

  /wallet_rp/create:
    post:
      summary: Create Wallet Relying Party
      description: |
        Creates one or more Wallet Relying Party (WRP) objects.

        The `WalletRelyingParty` object follows the Wallet Relying Party
        definition described in the TS5 specification.

        ### Request Parameters

        | Parameter | Description |
        |-----------|-------------|
        | `hash_pid` | Authenticated user session identifier. |
        | `WalletRelyingParty` | Collection of Wallet Relying Party objects. |

        ### WalletRelyingParty attributes (TS5)

        | Attribute | Type | Description |
        |-----------|------|-------------|
        | `tradeName` | string | Commercial name of the Wallet Relying Party. |
        | `provider_id` | integer | Reference to a previously registered Provider. |
        | `supervisoryAuthority` | integer | Reference to a previously registered Supervisory Authority. |
        | `registryURI` | string (URI) | Registry URI associated with the Wallet Relying Party. |
        | `supportURI` | array<string> | Support endpoint URI(s). |
        | `srvDescription` | array<object> | Localised description(s) of the Wallet Relying Party service. |
        | `intendedUse_ids` | array<integer> | References to Intended Use objects. |
        | `providesAttestations_id` | array<integer> | References to Provided Attestation objects. |
        | `usesIntermediary` | array<integer> | References to intermediary Wallet Relying Parties, when applicable. |
        | `entitlements` | array<string> | Entitlements supported by the Wallet Relying Party. |
        | `isPSB` | boolean | Indicates whether the Wallet Relying Party is a PSB. |
      tags:
        - WalletRelyingParty

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash_pid
                - WalletRelyingParty
              properties:
                hash_pid:
                  type: string
                  description: Authenticated user session identifier.
[...]
